@model Doctor
@{
    ViewData["Title"] = "Doctors";
    ViewData["DoctorsActive"] = "active";
}

<h1>Want to delete this doctor and all is appointments?</h1>
<form asp-action="Delete" method="post">
    <button type="submit">Yes</button> / <a asp-action="Index">No</a>
</form>
@ViewBag.ErrorMessage


<table class="table">
    <thead>
        <tr>
            <th scope="col">License Number</th>
            <th scope="col">Name</th>
            <th scope="col">Birthday</th>
            <th scope="col">Contact</th>
            <th scope="col">Specialty</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Model.LicenseNumber</th>
            <td>@Model.Name</td>
            <td>@Model.Birthday.Day/@Model.Birthday.Month/@Model.Birthday.Year</td>
            <td>@Model.Contact</td>
            <td>@Model.Specialty</td>
        </tr>
    </tbody>
</table>


