@model Doctor
@{
    ViewData["Title"] = "Doctors";
    ViewData["DoctorsActive"] = "active";
}

<h1>
    Want to delete this doctor
    @if (Model.Appointments.Count > 0)
    {
        @:and all is appointments
    }
    ?
</h1>
<form asp-action="Delete" method="post">
    <button class="btn btn-danger" type="submit">Yes</button><a class="btn btn-success" asp-action="Index">No</a>
</form>
@ViewBag.ErrorMessage


<table class="table">
    <thead>
        <tr>
            <th scope="col">License Number</th>
            <th scope="col">Name</th>
            <th scope="col">Birthday</th>
            <th scope="col">Contact</th>
            <th scope="col">Specialty</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Model.LicenseNumber</th>
            <td>@Model.Name</td>
            <td>@Model.Birthday.Day/@Model.Birthday.Month/@Model.Birthday.Year</td>
            <td>@Model.Contact</td>
            <td>@Model.Specialty</td>
        </tr>
    </tbody>
</table>

@if (Model.Appointments.Count > 0)
{

    <h3>Appointments:</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Doctor LicenseNumber</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var appointment in Model.Appointments)
        {
            <tr>
                <th scope="row">@appointment.Id</th>
                <td><a asp-action="Details" asp-controller="Doctor" asp-route-id="@appointment.DoctorId">@appointment.Doctor.Name</a></td>
                <td>@appointment.Date.Day/@appointment.Date.Month/@appointment.Date.Year</td>
            </tr>
        }

        </tbody>
    </table>
}


