@model List<Doctor>
@{
    ViewData["Title"] = "Doctors";
    ViewData["DoctorsActive"] = "active";
}



@if (!Model.Any())
{
    <h4>Without doctors in the Database. </h4>
    <a asp-action="Create">Add a new one.</a>
}
else
{
    <h2>Doctors:</h2>
    <a asp-action="Create" class="btn btn-success buttonLeft">Register new Doctor</a>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">License Number</th>
                <th scope="col">Name</th>
                <th scope="col">Specialty</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var doctor in Model)
            {
                <tr>
                    <th scope="row">@doctor.LicenseNumber</th>
                    <td><a asp-action="Details" asp-route-id="@doctor.LicenseNumber">@doctor.Name</a></td>
                    <td>@doctor.Specialty</td>
                    <td>
                        <a asp-action="Update" asp-route-id="@doctor.LicenseNumber"><img src="images/EditPencil.png" class="Icon" alt="edit" /></a>
                        <a asp-action="Delete" asp-route-id="@doctor.LicenseNumber"><img src="images/DeleteCross.png" class="Icon" alt="delete" /></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}





