@model List<Doctor>
@{
    ViewData["Title"] = "Doctors";
    ViewData["DoctorsActive"] = "active";
}

<h2>Index</h2>

@if (Model.Count == 0)
{
    <h4>Without doctors in the Database. </h4>
    <a asp-action="Create">Add a new one.</a>
}
else
{
    <a asp-action="Create" class="btn btn-outline-success">Register new Doctor</a>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">License Number</th>
                <th scope="col">Name</th>
                <th scope="col">Specialty</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var doctor in Model)
            {
                <tr>
                    <th scope="row">@doctor.LicenseNumber</th>
                    <td><a asp-action="Details" asp-route-id="@doctor.LicenseNumber">@doctor.Name</a></td>
                    <td>@doctor.Specialty</td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@doctor.LicenseNumber">
                            <img src="images/DeleteCross.png" class="DeleteCross" alt="delete" />
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}





