@model List<Owner>
@{
    ViewData["Title"] = "Owners";
    ViewData["OwnersActive"] = "active";
}


@if (!Model.Any())
{
    <h4>Without owners in the Database.</h4>
    <a asp-action="Create">Add a new one.</a>
}
else
{
    <h2>Owners</h2>

    <a asp-action="Create" class="btn btn-outline-success">Register new Owner</a>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var owner in Model)
            {
                <tr>
                    <th scope="row">@owner.Id</th>
                    <td><a asp-action="Details" asp-route-id="@owner.Id">@owner.Name</a></td>
                    <td>
                        <a asp-action="Update" asp-route-id="@owner.Id"><img src="images/EditPencil.png" class="Icon" alt="edit" /></a>
                        <a asp-action="Delete" asp-route-id="@owner.Id"><img src="images/DeleteCross.png" class="Icon" alt="delete" /></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}





