@model Pet
@{
    ViewData["Title"] = "Pets";
    ViewData["PetsActive"] = "active";
}

<a class="btn btn-danger detailsButton" asp-action="Delete" asp-route-id="@Model.Id">Delete Pet</a>
<a class="btn btn-warning detailsButton" asp-action="Update" asp-route-id="@Model.Id">Edit Pet</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Birthday</th>
            <th scope="col">Owner</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Model.Id</th>
            <td>@Model.Name</td>
            <td>@Model.PetType</td>
            <td>@Model.Birthday.Day/@Model.Birthday.Month/@Model.Birthday.Year</td>
            <td><a asp-action="Details" asp-controller="Owner" asp-route-id="@Model.Owner.Id">@Model.Owner.Name</a></td>
        </tr>
    </tbody>
</table>

@if (Model.Appointments.Count == 0)
{
    <h3>Without appointments.</h3>
    <p><a asp-action="Create" asp-controller="Appointment">Book one.</a></p>
}
else
{
    <h3>Appointments:</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Doctor</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appointment in Model.Appointments)
            {
                <tr>
                    <th scope="row">@appointment.Id</th>
                    <td><a asp-action="Details" asp-controller="Doctor" asp-route-id="@appointment.DoctorId">@appointment.Doctor.Name</a></td>
                    <td>@appointment.Date.Day/@appointment.Date.Month/@appointment.Date.Year</td>
                </tr>
            }

        </tbody>
    </table>
}







