@model Appointment
@{
    ViewData["Title"] = "Appointments";
    ViewData["AppointmentsActive"] = "active";
}


<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Pet</th>
            <th scope="col">Owner</th>
            <th scope="col">Date</th>
            <th scope="col">Contact</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Model.Id</th>
            <td>@Model.Pet.Name</td>
            <td>@Model.Pet.Owner.Name</td>
            <td>@Model.Date.Day/@Model.Date.Month/@Model.Date.Year @Model.Date.Hour:@Model.Date.Minute</td>
        </tr>
    </tbody>
</table>






