@model List<Pet>
@{
    ViewData["Title"] = "Pets";
    ViewData["PetsActive"] = "active";
}

<h2>Pets</h2>
@if (Model.Count == 0)
{
    <h4>Without pets in the Database.</h4>
    <a asp-controller="NewEntries" asp-action="AddPet">Add a new one.</a>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Birthday</th>
                <th scope="col">Owner</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pet in Model)
            {

                <tr>

                    <th scope="row">@pet.Id</th>
                    <td><a asp-action="PetDetails" asp-route-id="@pet.Id">@pet.Name</a></td>
                    <td>@pet.Birthday.Day/@pet.Birthday.Month/@pet.Birthday.Year</td>
                    <td>@pet.Owner.Name</td>

                </tr>
            }
        </tbody>
    </table>

}





