@model Doctor
@{
    ViewData["Title"] = "Doctor Added";
}

<h3>Doctor was added.</h3>

<table class="table">
    <thead>
    <tr>
        <th scope="col">License Number</th>
        <th scope="col">Birthday</th>
        <th scope="col">Specialty</th>
        <th scope="col">Contact</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">@Model.LicenseNumber</th>
        <td>@Model.Birthday.Day/@Model.Birthday.Month/@Model.Birthday.Year @Model.Birthday.Hour:@Model.Birthday.Minute</td>
        <td>@Model.Specialty</td>
        <td>@Model.Contact</td>
    </tr>
    </tbody>
</table>

<a asp-action="Index" asp-controller="Home">Go Back to Home</a>

