@model Pet
@{
    ViewBag.Title = "Register Pet";
}

<h3>@Model.Name is Registered</h3>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Birthday</th>
        <th scope="col">Owner Id</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Model.Id</th>
            <td>@Model.PetType @Model.Name</td>
            <td>@Model.Birthday.Day/@Model.Birthday.Month/@Model.Birthday.Year</td>
            <td>@Model.OwnerId</td>
        </tr>
    </tbody>
</table>

<a asp-action="Index" asp-controller="Home">Go Back to Home</a>