@model CreateAppointmentViewModel
@{
    ViewData["Title"] = "Appointments";
    ViewData["AppointmentsActive"] = "active";
}

@if (Model.Doctors.Count == 0)
{
    <h4>Without doctors. To book an appointment is needed at least one doctor.</h4>
    <a asp-controller="Doctor" asp-action="Create">Add a new one.</a>
}
else
{
    <h3 class="text-center">Book an appointment.</h3>

    <form asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="@Model.Appointment.Date">Date:</label>
            <input asp-for="@Model.Appointment.Date" class="form-control" />
            <span asp-validation-for="@Model.Appointment.Date" class="text-danger"></span>

        </div>

        <div class="form-group">
            <select asp-for="@Model.Appointment.PetId">
                <option>Select a pet</option>

                @foreach (var pet in Model.Pets)
                {
                    <option value="@pet.Id">@pet.Id - @pet.Name (@pet.PetType)</option>
                }
            </select>
            <span asp-validation-for="@Model.Appointment.PetId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <select asp-for="@Model.Appointment.DoctorId">
                <option>Select a doctor</option>
                @foreach (var doctor in Model.Doctors)
                {
                    <option value="@doctor.LicenseNumber">@doctor.Name (@doctor.Specialty)</option>
                }
            </select>
            <span asp-validation-for="@Model.Appointment.DoctorId" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-outline-secondary">Book</button>
    </form>
}