@using Microsoft.EntityFrameworkCore
@model VetApp.ViewModel.AppointmentsViewModel

@{
    ViewData["Title"] = "Appointments";
    ViewData["AppointmentsActive"] = "active";
}


@if (!Model.Doctors.Any())
{
    <h4>Without doctors. To book an appointment is needed at least one doctor.</h4>
    <a asp-controller="Doctor" asp-action="Create">Add a new one.</a>
}
else if (!Model.Appointments.Any())
{
    <h4>Without appointments.</h4>
    <a asp-controller="Appointment" asp-action="Create">Add a new one.</a>
}
else
{
    <h2>Appointments:</h2>
    <a asp-action="Create" class="btn btn-success buttonRight">Register new Appointment</a>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Pet</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appointment in Model.Appointments)
            {
                <tr>
                    <th scope="row"><a asp-action="Details" asp-route-id="@appointment.Id">@appointment.Id</a></th>
                    <td><a asp-action="Details" asp-controller="Pet" asp-route-id="@appointment.PetId">@appointment.Pet.Name</a></td>
                    <td>@appointment.Date.Day/@appointment.Date.Month/@appointment.Date.Year @appointment.Date.Hour:@appointment.Date.Minute</td>
                    <td>
                        <a asp-action="Update" asp-route-id="@appointment.Id"><img class="Icon" alt="edit" src="images/EditPencil.png" /></a>
                        <a asp-action="Delete" asp-route-id="@appointment.Id"><img class="Icon" alt="delete" src="images/DeleteCross.png" /></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}





