@model List<Appointment>
@{
    ViewData["Title"] = "Index";
    ViewData["AppointmentsActive"] = "active";
}

<h2>Index</h2>
@if (Model.Count == 0)
{
    <h4>Without appointments in the Database.</h4>
    <a asp-controller="Appointment" asp-action="Create">Add a new one.</a>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Pet</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appointment in Model)
            {
                <tr>
                    <th scope="row"><a asp-action="Details" asp-route-id="@appointment.Id">@appointment.Id</a></th>
                    <td>@appointment.Pet.Name</td>
                    <td>@appointment.Date.Day/@appointment.Date.Month/@appointment.Date.Year @appointment.Date.Hour:@appointment.Date.Minute</td>
                    <td><a asp-action="Delete" asp-route-id="@appointment.Id"><img class="DeleteCross" alt="DeleteCross" src="images/DeleteCross.png" /></a></td>
                </tr>
            }
        </tbody>
    </table>

}





