@model Owner
@{
    ViewData["Title"] = "Index";
    ViewData["OwnersActive"] = "active";
}

<h1>
    Want to delete this Owner
    @if (Model.Pets.Count > 0)
    {
        @:and all is pets
    }
    ?
</h1>
<form asp-action="Delete" method="post">
    <button class="btn btn-danger" type="submit">Yes</button><a class="btn btn-success" asp-action="Index">No</a>
</form>
@ViewBag.ErrorMessage

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Birthday</th>
            <th scope="col">Contact</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Model.Id</th>
            <td>@Model.Name</td>
            <td>@Model.Birthday.Day/@Model.Birthday.Month/@Model.Birthday.Year</td>
            <td>@Model.Contact</td>
        </tr>
    </tbody>
</table>


@if (Model.Pets.Count > 0)
{

    <h3>Pets from this owner:</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">LicenseNumber</th>
                <th scope="col">Name</th>
                <th scope="col">Birthday</th>
                <th scope="col">Appointments</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pet in Model.Pets)
            {
                <tr>
                    <th scope="row">@pet.Id</th>
                    <td><a asp-action="Details" asp-controller="Pets" asp-route-id="@pet.Id">@pet.Name</a></td>
                    <td>@pet.Birthday.Day/@pet.Birthday.Month/@pet.Birthday.Year</td>
                    <td>@pet.Appointments.Count</td>
                </tr>
            }


        </tbody>
    </table>
}









